.imgContainer {
    margin-top: 94px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.option {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.img {
    border-radius: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img {
    width: 100%;
}

.picContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.picContainer:active {
    transform: scale(1.15);
}

.q {
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;
}