.imgContainer {
    margin-top: 124px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.option {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.img {
    border-radius: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.placeholder {
    height: 50vw;
    width: 43vw;
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
}

