.body {
    padding-bottom: 65px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input {
    width: 89.33vw;
    border: 0.5px solid black;
    height: 55px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    background-color: 4783c2;
}

.black {
    background-color: #376089;
    font-weight: bold;
    color: white;
}

.pin {
    position: absolute;
    top: 34px;
    left: 11px;
    transform: scale(1.2);
}