.body {
 padding-bottom: 65px;
}

.preBanner {
   background-color: #d2dfed;
}
.address {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 89.33vw;
    margin: 0 auto;
}

.input {
    height: 35px;
    width: 89.33vw;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

form {
    position: relative;
    padding-bottom: 10px;
}
.search {
    position: absolute;
    top: 14px;
    left: 8vw;
}

.featCon {
    background-color: white
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 89.33vw;
    margin: 0 auto;
    padding-top: 20px;
}

.btm {
    padding-bottom: 20px;
}
.newRelease{
    width: 100vw;
    background-color: white;
    margin-top: 20px;
}

.header{
    width: 89.33vw;
    margin: 0 auto;
    font-size: 23px;
    font-weight: bold;
    padding-top: 20px;
}

.placeholderContainer {
    width: 89.33vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.placeholder {
    width: 25vw;
    height: 25vw;
    padding: 20px 0;
}

.promoPmat {
    width: 100vw;
}

.productContainer {
    display: flex;
    width: 89.33vw;
    justify-content: space-around;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 10px;
}

@media only screen and (min-width: 1024px) {

    .container {
     width: 90%;
    }

    .newRelease{
        width: 90%;
        margin: 20px auto;
    }

    .placeholderContainer {
        width: 90%;
    }

    
    .placeholder {
        width: 25%;
        height: 25%;
    }

    .input {
        height: 35px;
        width: 90%;
    }
    .promoPmat {
        width: 100%;
    }

    .header {
       width: 90%;
    }
    
    .address {
        width: 90%;
    }

    .search {
        left: 8%;
    }

    .productContainer {
        width: 90%;
    }

 }