.body {
 padding-bottom: 65px;
}

.preBanner {
   background-color: #d2dfed;
}
.address {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 89.33vw;
    margin: 0 auto;
}

.input {
    height: 35px;
    width: 89.33vw;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

form {
    position: relative;
    padding-bottom: 10px;
}
.search {
    position: absolute;
    top: 14px;
    left: 8vw;
}

.featCon {
    background-color: white
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 89.33vw;
    margin: 0 auto;
    padding-top: 20px;
}

.btm {
    padding-bottom: 20px;
}
.newRelease{
    width: 100vw;
    background-color: white;
}

.header{
    width: 89.33vw;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 23px;
    font-weight: bold;
}

.placeholderContainer {
    width: 89.33vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.placeholder {
    width: 25vw;
    height: 25vw;
padding: 20px 0;
}

.promoPmat {
    width: 100vw;
}
