.body {
    padding-bottom: 65px;
}

.container {
    display: flex;
    width: 89.33vw;
    margin: 20px auto;
    justify-content: space-around;
}

.img {
    width: 50%;
    max-width: 300px;
}

@media only screen and (min-width: 1024px) {
    .container {
        display: flex;
        width: 90%;
        margin: 20px auto;
        justify-content: space-around;
    }
}