.button {
    text-decoration: none;
    color: black;
    cursor: pointer;
    line-height: 30px;
}

.container {
    border-radius: 50px;  
    background: radial-gradient( #75aade 1%, #1859a1 75%);
    padding: 10px 0;
    text-align: center;
    width: 89.3vw;
    height: 30px;
    margin: 0 auto;    
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0 5px 10px  rgb(134, 134, 134);
}

.container:active{
    transform: scale(1.05);
    box-shadow: none;
}