.body {
    padding-bottom: 65px;
    height: 100vh;
}

.container {
    width: 60vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img {
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 105px;
    height: 35px;
    border-radius: 5px;
    background-color: #376089;
    font-weight: bold;
    color: white;
}

.btn2 {
    width: 100%;
    background-color: #376089;
    font-weight: bold;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 60%;
    }
}