.header {
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    width: 89.33vw;
    margin: 20px auto;
    gap: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    padding-right: 10px;
}

.img {
    border-radius: 20px 0 0 20px;
}

.descContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    padding: 5px 0;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.desc {
    font-size: 12px;
}

.benefits {
    font-size: 14px;
    font-weight: bold;
}

.svg {
    transform: scale(1.5);
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 90%;
    }
}