.container {
    display: flex;
    flex-direction: column;
    width: 89.33vw;
    margin: 20px auto;
    gap: 10px;
}

.img {
    width: 88.33vw;
}

.descContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.benefits {
    font-weight: bold;
    margin-bottom: 20px;
}