.add {
    color: red;
}

.img {
    width: 100vw;
    max-width: 500px;
}

.form, .flex {
    display: flex;
    flex-direction: column;
    width: 89.33vw;
    margin: 20px auto;
}

.flex {
    margin: 10px 0;
}

.input {
    height: 35px;
    border: none;
    border-bottom: 1px solid black;
}

.button {
    width: 120px;
    margin: 30px auto;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    color: white;
    font-weight: bold;
}

