.imgContainer {
    margin-top: 94px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btmImg {
position: absolute;
bottom: 0;
width: 100vw;
}