.imgContainer {
    margin-top: 94px;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btmImg {
margin-top: 18px;
}